<div class="my-container">
    <h1>اهلا وسهلا بكم في صفحة لوحة التحكم </h1>
    <h4>قال تعالى:</h4>
    <h3> {وَقُلِ اعْمَلُوا فَسَيَرَى اللَّهُ عَمَلَكُمْ وَرَسُولُهُ وَالْمُؤْمِنُونَ وَسَتُرَدُّونَ إِلَى عَالِمِ الْغَيْبِ وَالشَّهَادَةِ فَيُنَبِّئُكُمْ بِمَا كُنْتُمْ تَعْمَلُونَ}</h3>
    <img src="./images/palsmile.jpg"/>
    <p>هذه الصفحة خاصة بادارة محتوى موقع العودة </p>
</div>